<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="nav-web">{{title}}</span>
  </button>
  <div class="nav-mobile">
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item routerLink="/products">Products</button>
      <button mat-menu-item routerLink="/dashboard">Dashboard</button>
      <!--<button mat-menu-item>Help</button>-->
    </mat-menu>
  </div>
  <div class="nav-web" fxLayout="row">
    <div fxLayoutAlign="center" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/autores" routerLinkActive="active">Autores</button>
      <button mat-button routerLink="/libros" routerLinkActive="active">Libros</button>
    </div>
  </div>
  <div fxLayoutAlign="end" fxFlex>
    <button mat-button [mat-menu-trigger-for]="login">
      {{username}}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu x-position="before" #login="matMenu">
      <button *ngIf="!logged" mat-menu-item routerLink="/login">Acceder</button>
      <button *ngIf="!logged" mat-menu-item routerLink="/registro">Registrarse</button>
      <button *ngIf="logged" mat-menu-item (click)="logout()">Salir</button>
      <!--<button mat-menu-item>Help</button>-->
    </mat-menu>
  </div>

</mat-toolbar>
