<!-- <div fxFlex fxLayout="column" fxLayoutAlign="center">
  <div fxFlexAlign="center" fxLayout="column">
    <h1 mat-title>Añadir Autor</h1>
    <mat-form-field appearance="standard">
      <input matInput [(ngModel)]="author.name" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Fecha de nacimiento</mat-label>
      <input type="date" matInput [(ngModel)]="author.birthdate">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Biografía</mat-label>
      <textarea matInput [(ngModel)]="author.biography"></textarea>
    </mat-form-field>
    <div style="margin-top:5%;" fxLayoutAlign="space-evenly">
      <img src="{{photo}}" alt="foto" height="100px" width="100px">
      <input [(ngModel)]="photo" id="file" class="ng-hide" type="file">
    </div>
    <div style="margin-top:5%;" fxLayoutAlign="space-evenly">
      <button mat-raised-button color="accent" (click)="back()">Volver</button>
      <button mat-raised-button color="primary" (click)="create()" cdkFocusInitial>Crear autor</button>
    </div>
  </div>
</div> -->

<div fxFlex fxLayout="column" fxLayoutAlign="center">
  <div fxFlexAlign="center" fxLayout="column">
      <h1>Añadir Autor</h1>
    </div>
    <div fxFlexAlign="center" fxLayout="column" style="min-height: 500px; min-width: 300px;">
    <form fxFlexAlign="center" fxLayout="column" [formGroup]="createAuthorForm" (ngSubmit)="create()">
          <mat-form-field appearance="standard">
            <input type="text" matInput placeholder="Nombre" formControlName="name">
            <mat-error *ngIf="f.name.errors != null">Campo obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <input type="date" matInput formControlName="birthdate">
            <mat-error *ngIf="f.birthdate.errors != null">Campo obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <textarea matInput placeholder="Biografía" formControlName="biography"></textarea>
            <mat-error *ngIf="f.biography.errors != null">Campo obligatorio</mat-error>
          </mat-form-field>
          <div style="margin-top:5%;" fxLayoutAlign="space-evenly center">
            <input id="file" class="ng-hide" type="file">
            <img src="{{photoUrl}}" alt="" height="150px" width="150px">
          </div>
        <div style="margin-top:5%;" fxLayoutAlign="space-evenly">
          <button mat-raised-button color="accent" (click)="back()">Volver</button>
          <button mat-raised-button color="primary" cdkFocusInitial>Crear autor</button>
        </div>
    </form>
  </div>
</div>
