@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: 'Staatliches';
}

.green-snackbar {
   background: #43B443;
   color: white;
   text-align: center;
}

.mat-simple-snackbar-action button{
  color: crimson;
  text-decoration: underline;
}
